.menu {
  display: flex;
  background: black;
  color: white;
  padding: 20px;
  margin-bottom: 40px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.menuTitle {
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
}

.navbar {
  display: flex;
  place-items: center;
}

.navbar > ul {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  grid-gap: 10px;
}

.formTitle {
  font-size: 3rem;
}

.navOption {
  padding: 10px;
}

.navOption:hover {
  background: rgba(128, 128, 128, 0.4);
}

.disabledLink {
  pointer-events: none;
}

.hoverElement {
  z-index: 1002;
  position: absolute;
  top: 60px;
  left: -3px;
}

.menuIcon {
  position: relative;
}

.hoverTray {
  position: absolute;
  background: black;
  width: 450px;
  padding: 5px;
  right: 0;
  max-height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}

